<h1>Welcome</h1>
on
<a href="https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo" target="_blank"
  >vscodium-deb-rpm-repo</a
>, the Deb and RPM mirror for
<a href="https://github.com/VSCodium/vscodium" target="_blank">VSCodium</a>
created by
<a href="https://gitlab.com/paulcarroty" target="_blank">@paulcarroty</a> and
<a
  href="https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/graphs/master"
  target="_blank"
  >awesome contributors</a
>. Check
<a
  href="https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/-/blob/master/README.md"
  target="_blank"
  >README</a
>
for more information.
